[mysql]
# CLIENT #
port                           = 3306
socket                         = /data/mysql/mysql.sock
default_character_set          = utf8
#
[mysqld]

# # GENERAL #
user                           = mysql
default_storage_engine         = InnoDB
socket                         = /data/mysql/mysql.sock
pid_file                       = /data/mysql/mysql.pid
#
# # MyISAM #
key_buffer_size                = 32M
#
# # SAFETY #
max_allowed_packet             = 16M
max_connect_errors             = 1000000
skip_name_resolve
#
# # DATA STORAGE #
datadir                        = /data/mysql/data/
#
# # CACHES AND LIMITS #
tmp_table_size                 = 32M
max_heap_table_size            = 32M
query_cache_type               = 0
query_cache_size               = 0
max_connections                = 1000
thread_cache_size              = 100
open_files_limit               = 65535
table_definition_cache         = 4096
table_open_cache               = 4096
#
# # INNODB #
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 512M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table          = 1
innodb_buffer_pool_size        = 2G
#
# # LOGGING #
log_error                      = /data/mysql/log/mysql_error.log
log_queries_not_using_indexes  = 1
slow_query_log                 = 1
slow_query_log_file            = /data/mysql/log/mysql_slow.log
#
# # BINARY LOGGING #
log_bin                        = /data/mysql/data/mysql_bin
binlog_format		       = ROW
expire_logs_days               = 14
sync_binlog                    = 1
log_slave_updates              = 1
max_binlog_size                = 512M    # 
#
# #REPLICATION #
skip_slave_start               = 1
log_slave_updates              = 1
relay_log                      = /data/mysql/data/relay_bin
slave_net_timeout              = 60
sync_master_info               = 1
sync_relay_log                 = 1
sync_relay_log_info            = 1
#
# #Custom
character_set_server	       = utf8
server_id		       = 1634699529
gtid_mode		       = on
enforce_gtid_consistency       = true
